@mixin font-weight($weight) {
  $weights: (
    regular: 400,
    medium: 500,
    bold: 600,
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

@mixin breakpoint-md-down() {
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin breakpoint-lg-up() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin font-size($size) {
  $sizes: (
    caption: (16px, 19px),
    body: (20px, 24px),
    section: (24px, 28px),
    title: (28px, 33px),
    emoji: (48px, 57px),
  );

  $output-size: $size;
  $output-height: inherit;
  @if map-has-key($sizes, $size) {
    $list: map-get($sizes, $size);
    $output-size: nth($list, 1);
    $output-height: nth($list, 2);
  }

  font-size: $output-size;
  line-height: $output-height;
}

@mixin custom-pointer {
  cursor: url('~@/assets/cursor-hand.png'), auto;
}
