$title-font-size: 28px;
$section-font-size: 24px;
$body-font-size: 20px;
$caption-font-size: 16px;

$title-line-height: 33px;
$section-line-height: 28px;
$body-line-height: 24px;
$caption-line-height: 19px;
