<template>
  <div class="scrolling-container">
    <TVItem
      channelLogo="first.png"
      channelName="Первый канал"
      :timetable="timetables.first"
    />
    <TVItem
      channelLogo="2x2.png"
      channelName="2x2"
      :timetable="timetables._2x2"
    />
    <TVItem
      channelLogo="rbc.png"
      channelName="РБК"
      :timetable="timetables.rbc"
    />
    <TVItem
      channelLogo="amedia.png"
      channelName="AMEDIA PREMIUM"
      :timetable="timetables.amedia"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import TVItem from '../components/TVItem.vue';

export default defineComponent({
  name: 'TVView',
  components: {
    TVItem,
  },
  setup() {
    const timetables = {
      first: [
        { time: '13.00', program: 'Новости (с субтитрами)' },
        { time: '14.00', program: 'Давай поженимся' },
        { time: '15.00', program: 'Другие новости' },
      ],
      _2x2: [
        { time: '13.00', program: 'МУЛЬТ ТВ. Сезон 4, 7 серия' },
        { time: '14.00', program: 'ПОДОЗРИТЕЛЬНАЯ СОВА. Сезон 7, 7 серия' },
        { time: '15.00', program: 'БУРДАШЕВ. Сезон 1, 20 серия' },
      ],
      rbc: [
        {
          time: '13.00',
          program: 'ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС',
        },
        { time: '14.00', program: 'ДЕНЬ. Главные темы' },
        { time: '15.00', program: 'Главные новости' },
      ],
      amedia: [
        { time: '13.00', program: 'Клиент всегда мёртв' },
        {
          time: '14.00',
          program: 'Голодные игры: Сойка-пересмешница. Часть I',
        },
        { time: '15.00', program: 'Секс в большом городе' },
      ],
    };
    return {
      timetables,
    };
  },
});
</script>

<style lang="scss">
.scrolling-container {
  max-height: 750px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: $gray6;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #bdbdbd;
  }

  scrollbar-color: #bdbdbd $gray6;
  scrollbar-width: thin;

  & > :not(:last-child) {
    margin-bottom: 16px;
  }
}
</style>
