<template>
  <div
    class="genre-card"
    :style="{
      background: `linear-gradient(127.83deg, ${gradient.start} 8.44%, ${gradient.end} 91.36%)`
    }"
  >
    <span
      class="emoji"
      :style="{ background: `url(${emojiAssetLocation})` }"
    ></span>
    <span class="genre">
      {{ genre }}
    </span>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'GenreCard',
  props: {
    emoji: {
      type: String,
      default: '',
    },
    genre: {
      type: String,
      default: 'Комедии',
    },
    gradient: {
      type: Object,
      default: {
        start: '#56CCF2',
        end: '#2F80ED',
      },
    },
  },
  setup(props) {
    // eslint-disable-next-line
    const emojiAssetLocation = require(`../assets/emojis/${props.emoji}`);
    return { emojiAssetLocation };
  },
});
</script>

<style lang="scss">
.genre-card {
  min-height: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  position: relative;

  &:hover {
    @include custom-pointer();
    opacity: 1;
    transition: 0.5s;
  }

  .emoji {
    width: 48px;
    height: 48px;
    position: absolute;
  }

  .genre {
    color: #fff;
    position: absolute;
    bottom: 24px;
  }
}
</style>
