<template>
  <div class="movie-item">
    <div class="movie-card">
      <img :src="require(`../assets/movies/${cover}`)" />
      <div class="movie-caption">
        <p>{{ caption }}</p>
      </div>
    </div>
    <p class="movie-title">{{ title }}</p>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'MovieItem',
  props: {
    caption: {
      type: String,
      default: 'Описание фильма',
    },
    title: {
      type: String,
      default: 'Название фильма',
    },
    cover: {
      type: String,
    },
  },
});
</script>

<style lang="scss">
.movie-item {
  width: 100%;

  .movie-card {
    position: relative;
    border-radius: 8px;
    background: $gray1;

    img {
      width: 100%;
      display: block;
      border-radius: 8px;
    }

    .movie-caption {
      color: #fff;
      padding: 16px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include font-size(caption);
      opacity: 0;
    }

    &:hover {
      opacity: 0.8;
      @include custom-pointer();
      .movie-caption {
        opacity: 1;
        transition: 0.5s;
      }
      img {
        opacity: 0.3;
      }
    }
  }

  .movie-title {
    @include font-size(body);
  }
}
</style>
