<template>
  <nav>
    <router-link :to="{ name: 'Movies' }">Фильмы</router-link>
    <router-link :to="{ name: 'TV' }">Телеканалы</router-link>
  </nav>
</template>

<script></script>

<style lang="scss">
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 32px;

  a {
    text-decoration: none;
    color: $gray1;
    @include font-size(title);
    @include font-weight(medium);

    &.router-link-exact-active {
      color: $red;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: $red;
    }
  }

  & > :not(:last-child) {
    margin-right: 10px;
  }
}
</style>
