<template>
  <div class="tv-item">
    <div class="tv-item--logo">
      <img :src="require(`../assets/channels/${channelLogo}`)" />
    </div>
    <div class="tv-item--detail">
      <h2>{{ channelName }}</h2>
      <div class="tv-item--timetable">
        <p
          class="tv-item--timetable-entry"
          v-for="(timetableEntry, index) in timetable"
          :key="index"
          :class="{ 'tv-item--timetable-entry--active': index === 0 }"
        >
          <span class="tv-item--timetable--time">
            {{ timetableEntry.time }}
          </span>
          {{ timetableEntry.program }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TVItem',
  props: {
    channelLogo: {
      type: String,
    },
    channelName: {
      type: String,
      default: 'Название канала',
    },
    timetable: {
      type: Array,
    },
  },
});
</script>

<style lang="scss">
.tv-item {
  background-color: $gray6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  &--logo {
    display: flex;
    width: 40%;
    justify-content: center;
  }

  &--detail {
    width: 60%;
    margin-right: 24px;
  }

  &--timetable {
    &-entry {
      @include font-size(caption);
      &--active {
        color: $red;
      }
    }
  }
}
</style>
